*, *::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    body {
        font-size: 10px;
    }
}

@media screen and (min-width: 800px) {
    body {
        font-size: 14px;
    }
}

html {
    font-size: calc(10px + (14 - 10) * ((100vw - 400px) / (800 - 400)));
}

body {
    font-family: sans-serif;
    background: #cfcfcf;
}

.App {
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post__create {
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.post__container {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    color: black;
    width: 100%;
}

.post__create-container .post__container {
    margin-bottom: 0px;
}

.post__create-container {
    padding: 10px;
    background-color: #a7a6a6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}